


<div th:insert="fragments/header :: modelheader"></div>
    <body>
        <div class="container">
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Usuario</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tr th:each="v : ${venda}">
                    <td th:text="${v.id}"> </td>
                    <td th:text="${v.data}"> </td>
                    <td th:text="${v.usuario.login}"></td>
                    <td th:text="${v.total}"> </td>
                    <td style="width:120px">
                        <a th:href="@{/vendas/details/{id}(id=${v.id})}"><button class="btn btn-success">Detalhes</button></a>
                    </td>
    <!--                <td> <a th:href="@{/pessoas/edit/{id}(id=${p.id})}">Editar</a> </td>-->
                    <!--<td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoas/remove/{id}(id=${p.id})}">Excluir</a> </td>-->
                </tr>
            </table>
        </div>

        <div th:insert="fragments/footer :: modelfooter"></div>