<div th:insert="fragments/header :: modelheader"></div>

<div class="container">
    <div class="alert alert-danger" th:errors="${itemVenda.*}"></div>
<!--    <div class="alert alert-danger" th:errors="${venda.*}"></div>-->
    <h1>Catálogo de Produtos</h1>
    <div class="row">
            <th:block th:each="p,i : ${produto}">
                <div class="card" style="width: 25%;">

                    <div class="card-body">
                        <h5 class="card-title" th:text="${p.descricao}"></h5>
                        <p class="card-text" th:text="${#numbers.formatCurrency(p.valor)}"></p>
                        <form th:action="@{/vendas/add}" th:object="${itemVenda}" method="post">
                            <input type="hidden" th:value="${p.id}" th:name="produto.id"> <!-- NÃO FUNCIONA COM th:field -->
                            <input type="number" th:field="*{qtd}">
                            <input class="btn btn-primary" type="submit" value="Comprar">
                        </form>
                    </div>
                </div>
            </th:block>
    </div>
</div>



<div th:insert="fragments/footer :: modelfooter"></div>